.mainmenu_Menu_23IDi.mainmenu_Open_3apLK {
    width: 100vw;
}

.mainmenu_ItemOuter_1BbM8 {
    width: 100vw;
}

.mainmenu_ActiveDot_1uLVH {
    left: 5px !important;
    width: 1.25% !important;
}

.mainmenu_ItemLabel_3x-ZK {
    max-width: unset;
}

.mainmenuapprunning_NavigationColumn_27FEg {
    scroll-snap-align: start;
}
