.quickaccessmenu_ViewPlaceholder_2orc8:not(.quickaccessmenu_FullHeight_3ud27) {
    width: 100vw;
}

.quickaccessmenu_ViewPlaceholder_2orc8 {
    width: 100vw;
    flex-direction: flex-end;
}

.quickaccessmenu_Tabs_3Ag1w {
    /* The in game QAM was overlaying the top menu by 1px
        this compensates for that. */
    top: 1px;
}

